h1{}
h2{font-size:20px;}
header{background:yellow;}
header .sitebrand{font-family: 'Nova Oval', cursive;}
.contenuto{padding:20px 0px;}
footer{background:black; color:white; padding:20px 0px;}
.social{margin-top:25px;}
#___plusone_0{vertical-align:top !important;}
.iubenda-ibadge{margin-bottom: -6px; margin-left: 15px;}